.home_categories {
    margin-bottom: 5px
}

.home_categories .cr {
    clear: both;
    border: 0px none
}

.home_categories ul {
    text-align: center;
    list-style: none
}

.home_categories li {
    float: left;
    width: 48%;
    height: auto;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.34);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.34);
    margin-bottom: 10px;
}

.home_categories li:nth-child(odd) {
    margin-right: 6px;
}

.home_categories li img {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 768px) {
    
    .home_categories {
        width: 100%;
    }

    .home_categories li {
        float: left;
        width: 48%;
        height: auto;
        -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.34);
        box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.34);
    }
    .home_categories img {
        width: inherit;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .home_categories li {
         margin: 5px;
        width: 32%;
    }
}

.home_categories li a {
    width: 100%;
}

.home_categories h5 a:hover {
    text-decoration: underline;
    color: #444
}