#footer #block_contact_form_footer {
	width: 100%;
	float: left;
	padding: 15px 10px;
}
@media screen and (min-width: 768px) {	
	#footer #block_contact_form_footer {
		width: 300px;
		float: left;
		padding: 15px 10px;
	}
}
#footer #block_contact_form_footer form fieldset {
	margin: 4px 0;
	padding: 2px;
}
#footer #block_contact_form_footer form input {
	display: inline-block;
	margin-bottom: 12px;
}
#footer #block_contact_form_footer form label {
	width: 83px;
	display: inline-block;
}

#footer #block_contact_form_footer form textarea {
	display: block;
}

#footer #block_contact_form_footer form textarea {
	display: block;	
}
#footer #block_contact_form_footer form p {
	padding-bottom: 10px;
}

#footer #block_contact_form_footer form p.text {
	width: 80px;
	display: inline;
}

#footer #block_contact_form_footer form select {
	width: 171px;
}

#footer #block_contact_form_footer form p.desc_contact {
	padding-left: 2px;
}

#footer #block_contact_form_footer form p.submit {
	padding-bottom: 0px;
}
#footer #block_contact_form_footer .submit input {
	width: 100%;
	text-align: center;
	background: #00aaff;
	border:1px solid #00aaff;
}
